#city {
   width: 35%;
}

#state {
width: 35%;
}

#countryCode, #areaCode {
width: 20%;
}

#number {
width: 35%;
}

.fullWidth {
width: 99%;
}

tfoot {
background-color: #65e4f1;
text-align: center;
}