body {  
    font-size: 16px; 
    font-family: 'Times New Roman';
    padding: 0px;
}

h1{
    text-align: center;
    font-style:italic;
}

#aboutDiet{
    font-size: 1.2em;
}

#fruitTable td
{     
    padding: 0;  
    border-width: 2px;
    border-color: #d0cfcf;
    border-style: outset;
    text-align:center;
}